#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  display: flex;
  justify-content: center;
  font-size: 69px;
  align-items: baseline;
}

.sub-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-size: 0.4em;
  padding-left: 0.25em;
}

@media (min-width: 576px) {
  #display {
    font-size: 90px;
  }
}

@media (min-width: 768px) {
  #display {
    font-size: 125px;
  }
}

@media (min-width: 992px) {
  #display {
    font-size: 150px;
  }
}